{% extends "base_app/base_app.html" %}

{% load static %}

{% block content %}
  
<section class="flex justify-center items-center h-screen w-screen" >

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
  
    <div>
      <div>
        <div>
          <h1 class="text-center" >Inicio de sesión</h1>
  
          <div>
            <div class="flex flex-col gap-2" >
              <p class="status"></p>
  
              <div>
                <input type="text" id="username" name="username">
                <label for="username">Usuario</label>
              </div>
  
              <div>
                <input type="password" id="password" name="password" autocomplete="off">
                <label for="password">Contraseña</label>
              </div>
  
              {% if error %}
              <div id="msg">{{error}}</div>
              {% endif %}
  
              <button class="bg-green-500 hover:bg-green-600 rounded-md" type="submit" value="LOGIN">Iniciar Sesión</button>
  
              <hr>
              <br>
              <p>¿No tienes una cuenta?</p>
              <a href="{% url 'signup' %}">Registrarse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <div class="text-left mt-2">


    <a href="{% url 'habitos_home' %}"  >Volver</a>
  </div>


</section>




{% endblock content %}