{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
    
    {% endblock title %}
    <!-- cambiar despues por paquete de node -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>


    <script src="https://d3js.org/d3.v7.min.js"></script>

     <script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
    <script src="https://unpkg.com/cal-heatmap/dist/plugins/Legend.min.js"></script>
    <script src="https://unpkg.com/cal-heatmap/dist/plugins/LegendLite.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" /> -->
    
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
    <link rel="stylesheet" href="{% static 'base_app/css/base_app_style.css'  %}">
    <link rel="stylesheet" href="{% static 'base_app/css/home.css'  %}">
    
    <link rel="stylesheet" href="{% static 'base_app/css/formulario_habito.css'  %}">
    <link rel="stylesheet" href="{% static 'habitos_app/css/grafico_habito.css'  %}">
    <link rel="stylesheet" href="{% static 'base_app/css/grafico.css'  %}">


    
    
    {% block head %}
    
    {% endblock head %}
</head>
<body>

  <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    
  </script>

 <style>
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    background-color: white;
    border-radius: 5px;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .show {display: block;}
  
 </style>


 <div style="float: right;">


 
 {% if not request.user.is_anonymous %}
  <div class="dropdown">
    {% if request.user.profile.picture.url != null %}
                  
    <img src="{{ request.user.profile.picture.url }}"  height="25" width="25" alt=""
      loading="lazy" onclick="myFunction()" class="dropbtn"/>
    {% else %}
    <img src="{% static '..\media\default\user.png' %}"  height="25" alt=""
      loading="lazy" onclick="myFunction()" class="dropbtn"/>


    {% endif %}
    <!-- <button onclick="myFunction()" class="dropbtn">Opciones</button> -->
    <div id="myDropdown" class="dropdown-content">
      
      <a class="" href="{% url 'details_profile' %}">Mi Perfil</a>
      <a class="" href="{% url 'update_profile' %}">configurar</a>
      <a class="" href="{% url 'logout' %}">Cerrar sesión</a>
     
    </div>
  </div>
  
          {% else %}
          <div class="">
            <ul class="">
              <li class="">
               
                <a href="{% url 'login' %}">
                  <button type="button" class="">Iniciar sesión</button>
                  </a>

              </li>
              <li class="">
                <a class="" href="{% url 'signup' %}">
                  <button type="button" class="">Registrarse</button>
                  </a>
              </li>
            </ul>
          </div>
          {% endif %}


        </div>
    
    {% block content %}
    
    {% endblock content %}

    {% block script_sup %}
      
    {% endblock script_sup %}


    
    <script src="{% static 'habitos_app/js/grafico_habito.js' %}"></script>
    <script src="{% static 'habitos_app/js/barra_grafico_habito.js' %}"></script>
    
    <script src="{% static 'base_app/js/lista_habito_script.js' %}"></script>
    <script src="{% static 'base_app/js/time_day.js' %}"></script>
    <script src="{% static 'base_app/js/formulario_habito.js' %}"></script>
    <script src="{% static 'base_app/js/principal.js' %}"></script>
    
    {% block script %}
    
    {% endblock script %}
    
</body>
</html>