{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
    
    {% endblock title %}
    <!-- cambiar despues por paquete de node -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>


    <script src="https://d3js.org/d3.v7.min.js"></script>

     <script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
    <script src="https://unpkg.com/cal-heatmap/dist/plugins/Legend.min.js"></script>
    <script src="https://unpkg.com/cal-heatmap/dist/plugins/LegendLite.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" /> -->
    
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
    <link rel="stylesheet" href="{% static 'base_app/css/base_app_style.css'  %}">
    <link rel="stylesheet" href="{% static 'base_app/css/home.css'  %}">
    
    <link rel="stylesheet" href="{% static 'base_app/css/formulario_habito.css'  %}">
    <link rel="stylesheet" href="{% static 'habitos_app/css/grafico_habito.css'  %}">
    <link rel="stylesheet" href="{% static 'base_app/css/grafico.css'  %}">


    
    
    {% block head %}
    
    {% endblock head %}
</head>
<body>
    
    
    {% block content %}
    
    {% endblock content %}


    
    <script src="{% static 'habitos_app/js/grafico_habito.js' %}"></script>
    <script src="{% static 'habitos_app/js/barra_grafico_habito.js' %}"></script>
    
    <script src="{% static 'base_app/js/lista_habito_script.js' %}"></script>
    <script src="{% static 'base_app/js/time_day.js' %}"></script>
    <script src="{% static 'base_app/js/formulario_habito.js' %}"></script>
    <script src="{% static 'base_app/js/principal.js' %}"></script>
    
    {% block script %}
    
    {% endblock script %}
    
</body>
</html>